* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-image: url(Screenshot\ \(29\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden; 
}

.typewriter {
    margin: 10px auto; 
    max-width: 800px; 
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    font-family: 'Times New Roman', Times, serif;
    height: auto;
}

.typewriter img{
    width: 799px;
  margin: -20px -20px 0;
  border-radius: 20px;
}



.typewriter p {
    font-size: 1.25em;
}

.typewriter h2 {
    color: green;
    font-size: 2em;
    font-weight: bolder;
    padding: 15px 0;
}

/*iframe{
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px greenyellow;
}*/

@media(max-width: 768px) {
    .typewriter {
        margin: 10px auto; 
        padding: 10px; 
        height: auto;
        width: 90%;
        overflow-x: hidden;
    }

    .typewriter h2 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .typewriter p {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }

    .typewriter img{
        width: 109%;
    }
    
   /* iframe{
        width: 100%;
      margin-top: 15px;
    }*/
    
}
